@import url(http://fonts.googleapis.com/css?family=Lato:100,300,700);

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  height: 100%;
  color: #fff;
  font-size: 20px;
}

#bg {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: 100%;
  background: #277FB2 url('../img/bg.png') no-repeat;
}

h1 {
	line-height: 100px;
	text-align: center;
  background: rgba(255,255,255,0.9);
  color:#2A85BA;
  font-weight: 300;
  font-size: 50px;
}

h2 {
  font-size: 35px;
  margin: 0 0 10px;
  font-weight: 300;
}

h3 {
	margin: 0;
	font-size: 20px;
	font-weight: 300;
}

h3 b {
	font-weight: 700;
}

p {
	margin: 0 0 10px;
}

hr {
	border: 0;
	height: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#content {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  height: auto;
}
