link(href="companion.css" rel="stylesheet" type="text/css")
div#loader
  div.shadow
  div#portalcube
    div.squares
      div.box
      ul
        li
        li
        li
        li
    div.circle
      div.heart
