<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" media="all">
        <link rel="stylesheet" href="css/bootstrap-theme.min.css" type="text/css" media="all">
        <link rel="stylesheet" href="css/styles.css" type="text/css" media="all">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <title>Texas ΛΑΝ</title>
        <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <!-- NavBar n' Stuff -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <col-md- class="sr-only">Toggle navigation</col-md->
                        <col-md- class="icon-bar"></col-md->
                        <col-md- class="icon-bar"></col-md->
                        <col-md- class="icon-bar"></col-md->
                    </button>
                    <a class="navbar-brand" onclick="$('html,body').animate({scrollTop: $('body').offset().top}, 1000)">Texas LAN</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a onclick="$('html,body').animate({scrollTop: $('.aboutus-sect').offset().top}, 1000)">About Us</a></li>
                        <li><a onclick="$('html,body').animate({scrollTop: $('.members-sect').offset().top}, 1000)">Founding Members</a></li>
                        <li><a onclick="$('html,body').animate({scrollTop: $('.interested-sect').offset().top}, 1000)">How to Join</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Big Logo Picture -->
        <div id="logo"></div>

        <!-- About Us Section -->
        <div class="aboutus-sect">
            <div class="container-fluid">
                <h1 class="title">About Us</h1>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="aboutus-title">What are we?</h2>
                        <p class="aboutus-info">We are a co-ed social fraternity for Computer Science majors at the University of Texas at Austin. We will be  accepting applications from all students currently pursuing a degree in CS. We are focused on social activities and building community in a laid back, enjoyable environment. We will have a simple rush and interview process where we will get to know you and determine if we think you will be a good fit. </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Members Section -->
        <div class="members-sect">
            <h1 class="title">Our Founding Members</h1>
            <div class="container-fluid">
                <div class="mem-row row">
                    <div class="col-md-3">
                        <a href="#" data-toggle="modal" data-target="#ReidAbout">
                            <img class="cut-out circle mem" src="/img/reid.jpg">
                        </a>
                        <p class=".lead name">Reid McKenzie</p>
                    </div>
                    <div class="col-md-3">
                        <a href="#" data-toggle="modal" data-target="#RobertAbout">
                            <img class="cut-out circle mem" src="/img/robert.jpg">
                        </a>
                        <p class=".lead name">Robert Lynch</p>
                    </div>
                    <div class="col-md-3">
                        <a href="#" data-toggle="modal" data-target="#BriAbout">
                            <img class="cut-out circle mem" src="/img/bri.jpg">
                        </a>
                        <p class=".lead name">Bri Connelly</p>
                    </div>
                    <div class="col-md-3">
                        <a href="#" data-toggle="modal" data-target="#ClaudioAbout">
                            <img class="cut-out circle mem" src="/img/claudio.jpg">
                        </a>
                        <p class=".lead name">Claudio Wilson</p>
                    </div>
                </div>

                <div class="mem-row row">
                    <div class="col-md-3">
                        <a href="#" data-toggle="modal" data-target="#GregAbout">
                            <img class="cut-out circle mem" src="/img/greg.jpg">
                        </a>
                        <p class=".lead name">Greg Cerna</p>
                    </div>
                    <div class="col-md-3">
                        <a href="#" data-toggle="modal" data-target="#AndyAbout">
                            <img class="cut-out circle mem" src="/img/andy.jpg">
                        </a>
                        <p class=".lead name">Andy Anderson</p>
                    </div>
                    <div class="col-md-3">
                        <a href="#" data-toggle="modal" data-target="#MashaAbout">
                            <img class="cut-out circle mem" src="/img/masha.jpg">
                        </a>
                        <p class="name">Masha Belyaeva</p>
                    </div>
                    <div class="col-md-3">
                        <a href="#" data-toggle="modal" data-target="#DanAbout">
                            <img class="cut-out circle mem" src="/img/dan.jpg">
                        </a>
                        <p class=".lead name">Dan Rutledge</p>
                    </div>
                </div>


                <div class="mem-row row">
                    <div class="col-md-3 col-md-offset-3">
                        <a href="#" data-toggle="modal" data-target="#JoshAbout">
                            <img class="cut-out circle mem" src="/img/josh.jpg">
                        </a>
                        <p class=".lead name">Josh Slocum</p>
                    </div>
                    <div class="col-md-3">
                        <a href="#" data-toggle="modal" data-target="#DavidAbout">
                            <img class="cut-out circle mem" src="/img/david.jpg">
                        </a>
                        <p class=".lead name">David Wetterau</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Blurbs -->
        <div class="modal fade" id="ReidAbout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Reid McKenzie</h4>
                    </div>
                    <div class="modal-body">
                        <img class="cut-out circle mem" src="/img/reid.jpg">
                        <hr>
                        I pick locks, play tabletop games, predict branches and compile code. I
                        wanted to help start Texas LAN because after three years in the CS
                        department I wanted an extracurricular social group where I could meet and
                        chill with other people from the major.
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="RobertAbout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Robert Lynch</h4>
                    </div>
                    <div class="modal-body">
                        <img class="cut-out circle mem" src="/img/robert.jpg">
                        <hr>
                        tbd
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="BriAbout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Bri Connelly</h4>
                    </div>
                    <div class="modal-body">
                        <img class="cut-out circle mem" src="/img/bri.jpg">
                        <hr>
                        I love dancing, binge watching horrible TLC reality shows, and iOS
                        development. In my free time you’ll catch me at Ballet Austin, maybe
                        chillin in the WiCS office, or browsing reddit. I’m very excited about
                        Texas LAN because it’s a way for CS majors to stay connected outside of
                        academics.
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="ClaudioAbout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Claudio Wilson</h4>
                    </div>
                    <div class="modal-body">
                        <img class="cut-out circle mem" src="/img/claudio.jpg">
                        <hr>
                        I enjoy screaming at my computer when code doesn't compile, playing video
                        games, listening to indie/future electronic music and long walks on the
                        beach ;). I wanted to help get Texas LAN up and running because I wanted a
                        close knit, like-minded group of people I could have fun with.
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="GregAbout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Greg Cerna</h4>
                    </div>
                    <div class="modal-body">
                        <img class="cut-out circle mem" src="/img/greg.jpg">
                        <hr>
                        I enjoy 3D-printing useless objects, ironically saying yolo, being an
                        android fanboy, buying obscure cryptocurrencies, and collecting chia pets.
                        I'm helping start LAN because there is a disturbing lack of CS parties
                        during roundup.
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="AndyAbout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Andy Anderson</h4>
                    </div>
                    <div class="modal-body">
                        <img class="cut-out circle mem" src="/img/andy.jpg">
                        <hr>
                        My time is spent checking facebook, reading up on how people programmed in
                        the 1970s, listening to classical music, pointing fingers, and asking
                        children to leave my lawn. While not being a horrible old man, I do
                        community service with friends. I decided to join LAN in order to convince
                        some more people that GOTO wasn’t that bad after all.
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="MashaAbout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Masha Belyaeva</h4>
                    </div>
                    <div class="modal-body">
                        <img class="cut-out circle mem" src="/img/masha.jpg">
                        <hr>
                        Is strong like bear.
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="DanAbout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Dan Rutledge</h4>
                    </div>
                    <div class="modal-body">
                        <img class="cut-out circle mem" src="/img/dan.jpg">
                        <hr>
                        I have been a tinkerer ever since I could remember. I like theoretical
                        politics and am pretty well versed in classical greek texts. I am also
                        interested in the decipherments of lost languages and a bit on ancient
                        linguistics. I am also on the board for the Turing Scholars Student
                        Association. I believe in LAN because there is no other group with people
                        like us at UT.
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="JoshAbout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Josh Slocum</h4>
                    </div>
                    <div class="modal-body">
                        <img class="cut-out circle mem" src="/img/josh.jpg">
                        <hr>
                        In my free time I enjoy competitive programming, computer graphics,
                        basketball, ultimate frisbee, electronic music and video games. I have been
                        rather disappointed with the lack of a designated place for CS majors to
                        get to know each other outside of the classroom, relax, and have fun, so I
                        wanted to help LAN be that place.
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="DavidAbout" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">David Wetterau</h4>
                    </div>
                    <div class="modal-body">
                        <img class="cut-out circle mem" src="/img/david.jpg">
                        <hr>
                        I spend large quantities of my time programming for fun, doing distributed
                        systems research, spending time outdoors, and playing video games and
                        ultimate frisbee. Even though I take school way too seriously, I am very
                        excited help start a social group for Computer Science students where we
                        can all feel a part of a community.
                    </div>
                </div>
            </div>
        </div>

        <!-- How to join Section -->
        <div class="interested-sect">
            <div class="container-fluid">
                <h1 class="title">Interested in Joining?</h1>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="interested-info">We are currently taking steps to become a real organization. This involves creating bylaws, a mission statement, and defining our role. Since we are currently not accepting applications, you may use <a href="https://docs.google.com/forms/d/1UCcSCb1Gx7SKIHYI7vS7Qsv7DFecukACYKevVYA6UqA/viewform" target="_blank">this form</a> to express interest in joining.</p>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>
