doctype html
html(lang="en")
	head
		title Lambda Alpha Nu
		link(href="http://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet" type="text/css")
		link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet")
		link(href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" rel="stylesheet")
		link(href="style.css" rel="stylesheet" type="text/css")
		script(src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
		script(src="prefixfree.min.js")
	body
		div.jumbotron
			h1 Texas Lambda Alpha Nu
			p
				| est 2014
		div#cubetext
			h2 Texas ΛΑΝ is UTCS' first co-ed fraternity
			h3 Website coming soon
			include companioncube.jade
