#logo {
	background: #eee url('../img/logo.png') center center no-repeat;
	width: 100%;
	height: 100%;
	z-index:1;
}

.navbar-brand, .navbar-right > li {
	cursor: pointer;
}

.title {
	font: 85px/85px 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', Arial, sans-serif;
	padding-top: 50px;
    text-align: center;
    font-size: 600%;
}

.aboutus-sect {
    background-color: #CC5500;
    color: white;
    padding-bottom: 50px;
    padding-top: 5px;
}

.aboutus-title {
    padding-top: 15px;
    font: 3.0em/1.0em 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', Arial, sans-serif;
}

.aboutus-info {
    font: 2.0em/1.2em 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', Arial, sans-serif;
}

.circle {
    -webkit-border-radius: 50em;
    -moz-border-radius: 50em;
    border-radius: 50em;
    height: 200px;
    width: 200px;
}

.circle:hover {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    opacity: .5;
}

.mem {
    margin: auto;
    display: block;
}

.name {
    text-align: center;
    padding-top: 10px;
    font: 2.2em/1.0em 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', Arial, sans-serif;
}

.members-sect {
    background-color: #050A47;
    color: white;
    padding-top: 5px;
    padding-bottom: 50px;
}

.mem-row {
    padding-top: 30px;
}

	.mem-row:first-of-type {
    	padding-top: 50px;
    }

.cut-out {
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 4px 5px rgba(0,0,0,.6), inset 0 1px 0 rgba(0,0,0,.6);
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 4px 5px rgba(0,0,0,.6), inset 0 1px 0 rgba(0,0,0,.6);
    box-shadow: 0 1px 0 rgba(255,255,255,.2), inset 0 4px 5px rgba(0,0,0,.6), inset 0 1px 0 rgba(0,0,0,.6);
}

.interested-sect {
    background-color: #BFEFFF;
    padding-top: 5px;
    padding-bottom: 100px;
}

	.interested-sect a {
		color: #0014FF;
	}

.interested-info {
    padding-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    font: 2.0em/1.2em 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', Arial, sans-serif;
}
